@model Library.Application.Queries.PaginatedList<Library.Application.Queries.Books.BookQuery>
@using Library.DomainModel.Enums
@{
    <link rel="stylesheet" href="~/css/bookStyle.css" />
    ViewData["Title"] = "Books";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12 row">
    <div class="col-md-3">
        <div class="form-group text-center" style="margin-top: 20px; margin-bottom: 20px;">
            <label style="color: black; font-family: Georgia; font-size: 18px;">Search by title</label>
            <form action="/Books/SearchByTitle">
                <input type="text" name="Title" class="form-control" style="height: 30px; width:130px; display: inline-block; margin-left: 15px;" />
                <button type="submit" class="borderlessbtn">
                    <span class="glyphicon glyphicon-search" style="color: black; font-size: 30px; margin-left: 10px;"></span>
                </button>
            </form>
        </div>
        <div class="genres text-center">
            <label style="color: black; font-family: Georgia; font-size: 18px; margin-bottom: 20px;">Search by genre</label>
            @foreach (var genre in Enum.GetValues(typeof(Genre)))
            {
                <a href="/Books/GetByGenre?Genre=@genre.ToString()" class="agenre">@genre</a>
            }
        </div>
    </div>
    <div class="col-md-9">
        @foreach (var book in Model)
        {
            <div class="col-md-10">
                <div class="col-md-12 book-row" style="margin-bottom: 20px;">
                    <div class="col-md-4" style="padding-left: 0">
                        @{
                            if (book.Image != null && book.Image.Length > 0)
                            {
                                <div style="margin-top: 20px;">
                                    <img src="data:image;base64,@Convert.ToBase64String(book.Image)" alt="asd" height="200" width="200" />
                                </div>
                                <p>
                                    <div class="text-center" style="margin-top: 20px; ">
                                        <span style="font-weight: bold">Rating: @book.Rating / 5</span>
                                    </div>
                                </p>
                            }
                        }
                    </div>
                    <div class="col-md-4 properties-column">
                        <a href="/Books/Book?Id=@book.Id" class="btn btn-link" style="font-size: 20px; color: black; ">
                            <div class="book-title" style="display: inline-block; word-wrap: break-word">
                                @book.BookTitle
                            </div>
                        </a>
                        <p>
                            <span>Author: </span>
                            <span class="book-span">@book.Author.Name</span>
                        </p>
                        <p>
                            <span>Genre:</span>
                            <span class="book-span">@book.Genre</span>
                        </p>
                        <p>
                            <span>Pages: </span>
                            <span class="book-span">@book.Pages</span>
                        </p>
                        <p>
                            <span>Year: </span>
                            <span class="book-span">@book.Year</span>
                        </p>
                        <p>
                            <span>Publisher: </span>
                            <span class="book-span">@book.Publisher</span>
                        </p>
                        <p>
                            <span>EAN: </span>
                            <span class="book-span">@book.Ean</span>
                        </p>
                        <p>
                            <span>ISBN: </span>
                            <span class="book-span">@book.Isbn</span>
                        </p>
                        <span class="book-span" style="font-size: 13px;">Available: @book.CurrentQuantity / @book.Quantity</span>
                    </div>
                    <div class="col-md-4">
                        <p class="book-description">@book.Description</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <a onclick="SendAddToCartCommand('@book.Id', '@book.CurrentQuantity')" class="btn btn-link" style="font-size: 16px; margin-top: 100px; color: black;"><span class="glyphicon glyphicon-shopping-cart"></span> Add to cart</a>
            </div>
                            }

        <div class="text-center" style="margin-left: -100px;">
            @Html.Partial("~/Areas/Default/Views/Shared/_Pagination.cshtml", Model.PaginationInfo)
        </div>
    </div>
</div>