@model Library.Application.Queries.Order.OrderQuery
@{
    <link rel="stylesheet" href="~/css/bookStyle.css" />
    ViewData["Title"] = "Order Details";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Checkout", "Cart", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Books)
    <div class="col-lg-12">
        <div class="col-md-3" style="height: 100%"></div>
        <div class="col-md-6">
            <p style="font-weight: bold; font-size: 20px; margin-bottom: 50px; margin-top: 30px;">Give us some details!</p>
            <div class="form-group">
                @Html.LabelFor(m => m.Address, new { @class = "required add-label" })
                @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                @Html.TextBoxFor(m => m.Address, new { @class = "form-control add-textbox" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.PhoneNumber, new { @class = "required add-label" })
                @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control add-textbox" })
            </div>
            <div class="row">

                <table class=" table table-bordered">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(m => m.Books.FirstOrDefault().BookTitle)</th>
                            <th>@Html.DisplayNameFor(m => m.Books.FirstOrDefault().Author)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var book in Model.Books)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(m => book.BookTitle)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => book.Author.Name)
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>

            </div>
            <div class="button-wrapper" style="margin-top: 50px;">
                <input type="submit" value="Finish" class="btn btn-primary" style="margin-right: 70px;" />
            </div>
        </div>
    </div>
}
