@model IEnumerable<Library.Application.Queries.Order.OrderReturnQuery>
@{
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered" style="border-color: black;">
    <tr>
        <th style="border-color: black; background-color: lightgray;">
            @Html.DisplayNameFor(m => Model.FirstOrDefault().UserEmail)
        </th>
        <th style="border-color: black; background-color: lightgray;">
            @Html.DisplayNameFor(m => Model.FirstOrDefault().UserId)
        </th>
        <th style="border-color: black; background-color: lightgray;">
            @Html.DisplayNameFor(m => Model.FirstOrDefault().Order.Book.BookTitle)
        </th>
        <th style="border-color: black; background-color: lightgray;">
            @Html.DisplayNameFor(m => Model.FirstOrDefault().Order.Book.Author.Name)
        </th>
        <th style="border-color: black; background-color: lightgray;">
            @Html.DisplayNameFor(m => Model.FirstOrDefault().Order.Book.Genre)
        </th>
        <th style="border-color: black; background-color: lightgray;">
            @Html.DisplayNameFor(m => Model.FirstOrDefault().Order.ReturnDate)
        </th>
        <th style="border-color: black; background-color: lightgray;">Returned</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(m => item.UserEmail)
            </td>
            <td>
                @Html.DisplayFor(m => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(m => item.Order.Book.BookTitle)
            </td>
            <td>
                @Html.DisplayFor(m => item.Order.Book.Author.Name)
            </td>
            <td>
                @Html.DisplayFor(m => item.Order.Book.Genre)
            </td>
            <td>
                @Html.DisplayFor(m => item.Order.ReturnDate)
            </td>
            <td>
            <a href="#" onclick="BookReturment('@item.Order.OrderDetailId')" style="color: black; font-weight: bold;">
                <span class="glyphicon glyphicon-retweet" style="color: black; font-weight: bold;"> Confirm</span></a>
            
            </td>
        </tr>
    }
</table>