@model IEnumerable<Library.Application.Queries.Books.BookQuery>
@{
    <script src="~/js/admin.js"></script>
    <link rel="stylesheet" href="~/css/bookStyle.css" />
    ViewData["Title"] = "Books";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-3">
        <div class="form-group text-center" style="margin-top: 20px; margin-bottom: 20px;">
            <label style="color: black; font-family: Georgia; font-size: 14px; display: block;">Search by title</label>
            <input type="text" class="form-control" style="height: 20px; width:130px; display: inline-block; margin-left: 15px;" />
            <a href="#" class="btn btn-link" style="display:inline-block"><span class="glyphicon glyphicon-search" style="color: black; font-size: 20px;"></span></a>
        </div>
    </div>
    <div class="col-md-9">
        @foreach (var book in Model)
        {
            <div class="col-md-10">
                <div class="col-md-12 book-row" style="margin-bottom: 20px;">
                    <div class="col-sm-7 properties-column">
                        <p>
                            <div class="book-title" style="display: inline-block">@book.BookTitle</div>
                        </p>
                        <p>
                            <span>Author: </span>
                            <span class="book-span">@book.Author.Name</span>
                        </p>
                        <p>
                            <span>Genre:</span>
                            <span class="book-span">@book.Genre</span>
                        </p>
                        <p>
                            <span>Pages: </span>
                            <span class="book-span">@book.Pages</span>
                        </p>
                        <p>
                            <span>Year: </span>
                            <span class="book-span">@book.Year</span>
                        </p>
                        <p>
                            <span>Publisher: </span>
                            <span class="book-span">@book.Publisher</span>
                        </p>
                        <p>
                            <span>EAN: </span>
                            <span class="book-span">@book.Ean</span>
                            <span style="margin-left: 10px;">ISBN: </span>
                            <span class="book-span">@book.Isbn</span>
                        </p>
                        <p>
                            <span class="book-span" style="font-size: 18px;">Available: @book.CurrentQuantity / @book.Quantity</span>
                            <span style="font-weight:bold;">@book.Id</span>
                        </p>
                    </div>
                    <div class="col-sm-5">
                        <p class="book-description">@book.Description</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="margin-top: 70px;">
                <a href="/Admin/Book/Edit?Id=@book.Id" class="btn btn-link" style="font-size: 20px; color: black;"><span class="glyphicon glyphicon-edit"></span></a>
                <button onclick="sendDeleteBookCommand('@book.Id')" type="button" class="btn btn-link" style="font-size: 20px; color: black;"><span class="glyphicon glyphicon-trash"></span></button>
            </div>
        }
    </div>
</div>