@{
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<Library.Application.Queries.Order.OrderQuery>
@if (Model.Any())
{
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-bordered text-center">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(m => m.FirstOrDefault().OrderDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.FirstOrDefault().Address)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.FirstOrDefault().PhoneNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.FirstOrDefault().Books)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(m => item.OrderDate)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.Address)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.PhoneNumber)
                            </td>
                            <td>
                                <table class="table table-bordered">
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(m => item.Books.FirstOrDefault().BookTitle)
                                        </td>
                                        <td>
                                            @Html.DisplayNameFor(m => item.Books.FirstOrDefault().Author.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayNameFor(m => item.Books.FirstOrDefault().Genre)
                                        </td>
                                    </tr>
                                    @foreach (var book in item.Books)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(m => book.BookTitle)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(m => book.Author.Name)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(m => book.Genre)
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
