@model Library.Application.Queries.Books.BookQuery
@{
    <link rel="stylesheet" href="~/css/bookStyle.css" />
    ViewData["Title"] = "Books";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}

<div class="row first-row">
    <div class="text-center col-md-4"> MIEJSCE NA REKLAMY ( ͡° ͜ʖ ͡°) </div>
    <div class="col-md-4">
        @using (Html.BeginForm("Edit", "Books", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.Id);
            <div class="form-group">
                @Html.LabelFor(m => m.BookTitle, new { @class = "required add-label" })
                @Html.ValidationMessageFor(m => m.BookTitle, "", new { @class = "text-danger" })
                @Html.TextBoxFor(m => m.BookTitle, new { @class = "form-control add-textbox" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Author.Name, new { @class = "required add-label" })
                @Html.ValidationMessageFor(m => m.Author.Name, "", new { @class = "text-danger" })
                @Html.TextBoxFor(m => m.Author.Name, new { @class = "form-control add-textbox" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Year, new { @class = "required add-label" })
                @Html.ValidationMessageFor(m => m.Year, "", new { @class = "text-danger" })
                @Html.TextBoxFor(m => m.Year, new { @class = "form-control add-textbox" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Pages, new { @class = "required add-label" })
                @Html.ValidationMessageFor(m => m.Pages, "", new { @class = "text-danger" })
                @Html.TextBoxFor(m => m.Pages, new { @class = "form-control add-textbox" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Genre, new { @class = "add-label" })
                @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                @Html.TextBoxFor(m => m.Genre, new { @class = "form-control add-textbox" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Publisher, new { @class = "add-label" })
                @Html.ValidationMessageFor(m => m.Publisher, "", new { @class = "text-danger" })
                @Html.TextBoxFor(m => m.Publisher, new { @class = "form-control add-textbox" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Isbn, new { @class = "add-label" })
                @Html.ValidationMessageFor(m => m.Isbn, "", new { @class = "text-danger" })
                @Html.TextBoxFor(m => m.Isbn, new { @class = "form-control add-textbox" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Ean, new { @class = "add-label" })
                @Html.ValidationMessageFor(m => m.Ean, "", new { @class = "text-danger" })
                @Html.TextBoxFor(m => m.Ean, new { @class = "form-control add-textbox" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Quantity, new { @class = "add-label" })
                @Html.ValidationMessageFor(m => m.Quantity, "", new { @class = "text-danger" })
                @Html.TextBoxFor(m => m.Quantity, new { @class = "form-control add-textbox" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Description, new { @class = "add-label" })
                @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                @Html.TextAreaFor(m => m.Description, new { @class = "form-control description-add-textbox" })
            </div>
            <div class="form-group">
                <input type="file" name="files" />
            </div>
            <div style="margin-top: 50px;">
                <input type="submit" value="Edit book" class="btn btn-primary" style="margin-right: 70px;" />
                @Html.ActionLink("Go back to the list", "Index", null, new { @class = "btn btn-primary back-btn" })
            </div>
        }
    </div>
    <div class="text-center col-md-4"> MIEJSCE NA REKLAMY ( ͡° ͜ʖ ͡°) </div>
</div>