@model Library.Application.Queries.PaginationInfo
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
@{
    var dict = new Dictionary<string, string>();
    dict.Add("page", "1");
    var method = "Index";
    if (Model.BookTitle != null && Model.BookTitle != "")
    {
        method = "SearchByTitle";
        dict.Add("Title", Model.BookTitle);
    }
    @if (Model.Genre.HasValue)
    {
        method = "SearchByGenre";
    }
    @if (Model.UserId !=null && Model.UserId != "")
    {
        method = "GetOrders";
        dict.Add("UserId", Model.UserId);
    }
}
<div class="row col-lg-12">

    @if (Model.PageIndex > 1)
    {
        dict["page"] = (Model.PageIndex - 1).ToString();
        <a id="pagination" asp-action="@method" asp-all-route-data="dict" class="btn btn-default @prevDisabled">Previous</a>
        dict["page"] = "1";
        <a id="pagination" asp-action="@method" asp-all-route-data="dict" class="btn btn-default">1</a>
        }
    @if (Model.TotalPages >= 2)
    {
        if (Model.PageIndex - 5 > 1)
        {
            @for (int i = Model.PageIndex - 5, j = 0; i < Model.PageIndex && j < 5 && i >= 1; i++, j++)
            {
                dict["page"] = i.ToString();
                <a id="pagination" asp-action="@method" asp-all-route-data="dict" class="btn btn-default">@i</a>
            }
        }
        else
        {
            for (int i = 2; i < Model.PageIndex; i++)
            {
                dict["page"] = i.ToString();
                <a id="pagination" asp-action="@method" asp-all-route-data="dict" class="btn btn-default">@i</a>
            }
        }

        <a id="pagination" asp-action="@method" asp-route-page="" class="btn btn-default disabled">@Model.PageIndex</a>

        @for (int i = Model.PageIndex + 1, j = 0; i < Model.TotalPages && j < 5; i++, j++)
        {
            dict["page"] = i.ToString();
            <a id="pagination" asp-action="@method" asp-all-route-data="dict" class="btn btn-default">@i</a>
        }
    }
    @if (Model.PageIndex < Model.TotalPages)
    {
        dict["page"] = Model.TotalPages.ToString();
        <a id="pagination" asp-action="@method" asp-all-route-data="dict" class="btn btn-default">@(Model.TotalPages)</a>
        dict["page"] = (Model.PageIndex + 1).ToString();
        <a id="pagination" asp-action="@method" asp-all-route-data="dict" class="btn btn-default @nextDisabled">Next</a>
    }
</div>